<a href="https://colab.research.google.com/github/robitussin/CCMACLRL_EXERCISES/blob/main/Exercise9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 9: Choosing the best performing model on a dataset

Instructions:

- Use the Dataset File to train your model
- Use the Test File to generate your results
- Use the Sample Submission file to generate the same format
- Use all classification models

Submit your results to:
https://www.kaggle.com/competitions/playground-series-s4e10/overview

In [1]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

## Dataset File

In [2]:
dataset_url = 'https://github.com/robitussin/CCMACLRL_EXERCISES/blob/main/datasets/loan_approval/train.csv?raw=true'
df = pd.read_csv(dataset_url)

In [3]:
df.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0

In [4]:
df.isnull().sum()

id                            0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
loan_status                   0
dtype: int64

## Test File

In [5]:
test_url = 'https://github.com/robitussin/CCMACLRL_EXERCISES/blob/main/datasets/loan_approval/test.csv?raw=true'
dt=pd.read_csv(test_url)

In [6]:
dt.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,58645,23,69000,RENT,3.0,HOMEIMPROVEMENT,F,25000,15.76,0.36,N,2
1,58646,26,96000,MORTGAGE,6.0,PERSONAL,C,10000,12.68,0.10,Y,4
2,58647,26,30000,RENT,5.0,VENTURE,E,4000,17.19,0.13,Y,2
3,58648,33,50000,RENT,4.0,DEBTCONSOLIDATION,A,7000,8.90,0.14,N,7
4,58649,26,102000,MORTGAGE,8.0,HOMEIMPROVEMENT,D,15000,16.32,0.15,Y,4

In [7]:
dt.isnull().sum()

id                            0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

## Sample Submission File

In [8]:
sample_submission_url ='https://github.com/robitussin/CCMACLRL_EXERCISES/blob/main/datasets/loan_approval/sample_submission.csv?raw=true'

sf=pd.read_csv(sample_submission_url)

In [9]:
sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39098 entries, 0 to 39097
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           39098 non-null  int64
 1   loan_status  39098 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 611.0 KB

In [10]:
sf.head()

      id  loan_status
0  58645          0.5
1  58646          0.5
2  58647          0.5
3  58648          0.5
4  58649          0.5

In [11]:
from sklearn.preprocessing import LabelEncoder
toEncode = [
    "person_home_ownership",
    "loan_intent",
    "cb_person_default_on_file",
    "loan_grade"
]
encoder = LabelEncoder()

for col in toEncode:
    dt[f"{col}_label"] = encoder.fit_transform(dt[col])
    df[f"{col}_label"] = encoder.fit_transform(df[col])

toDrop = list(dict.fromkeys(toEncode))
dt.drop(toEncode, axis = 1, inplace = True)
df.drop(toEncode, axis = 1, inplace = True)

toDropFinal = [
    'loan_status'
]


X = df.drop(toDropFinal, axis=1)
y = df['loan_status']

## 1. Train a KNN Classifier

In [12]:
# put your answer here


x_train,x_test,y_train,y_test = train_test_split(X,y,random_state=40,test_size=0.29)

In [13]:
score_list = {}

In [14]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=21)

KNN.fit(x_train,y_train)
KNN.predict(x_test)
knn_score = KNN.score(x_test,y_test)
score_list["KNN Classifier"] = knn_score
print(f"Accuracy is {knn_score}")

Accuracy is 0.8886994355597366

- Perform cross validation

In [15]:
# put your answer here
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier

cv_scores = cross_val_score(KNN, x_train, y_train, cv=40)

# Fit the model on the training set
KNN.fit(x_train, y_train)

# Calculate the test set score
knn_score = KNN.score(x_test, y_test)

# Store scores
score_list = {
    "KNN Classifier CV Mean Score": cv_scores.mean(),
    "KNN Classifier Test Score": knn_score
}

# Print results
print(f"Cross-Validation Mean Score: {cv_scores.mean()}")
print(f"Test Accuracy: {knn_score}")

Cross-Validation Mean Score: 0.8817396364442474
Test Accuracy: 0.8886994355597366

## 2. Train a Logistic Regression Classifier

In [16]:
# put your answer here
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression(max_iter=100)
LR.fit(x_train,y_train)

lr_score = LR.score(x_test,y_test)
score_list["Logistic Regression"] = lr_score
lr_pred = LR.predict(x_test)

print(f"Score is {lr_score}")

Score is 0.8839957666980245

c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

- Perform cross validation

In [17]:
# put your answer here
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

LR = LogisticRegression(max_iter=100)  # Increase max_iter if needed for convergence

# Perform cross-validation
cv_scores_lr = cross_val_score(LR, x_train, y_train, cv=5)  # 5-fold cross-validation

# Fit the model on the training set
LR.fit(x_train, y_train)

# Calculate the test set score
lr_score = LR.score(x_test, y_test)

# Update the score list
score_list["Logistic Regression CV Mean Score"] = cv_scores_lr.mean()
score_list["Logistic Regression Test Score"] = lr_score

# Print results
print(f"Logistic Regression Cross-Validation Mean Score: {cv_scores_lr.mean()}")
print(f"Logistic Regression Test Accuracy: {lr_score}")

c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression Cross-Validation Mean Score: 0.8831087274743791
Logistic Regression Test Accuracy: 0.8839957666980245

c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## 3. Train a Naive Bayes Classifier

In [18]:
# put your answer here

- Perform cross validation

## 4. Train a SVM Classifier

In [19]:
# put your answer here

- Perform cross validation

In [20]:
# put your answer here

## 5. Train a Decision Tree Classifier

In [21]:
# put your answer here

- Perform cross validation

In [22]:
# put your answer here

## 6. Train a Random Forest Classifier

In [23]:
# put your answer here

## 7. Compare all the performance of all classification models

In [24]:
# put your answer here
import pandas as pd

score_df = pd.DataFrame(score_list.items(), columns=['Model', 'Score'])

print(score_df)

sorted_score_df = score_df.sort_values(by='Score', ascending=False)
print("\nSorted Scores:")
print(sorted_score_df)

                               Model     Score
0       KNN Classifier CV Mean Score  0.881740
1          KNN Classifier Test Score  0.888699
2                Logistic Regression  0.883996
3  Logistic Regression CV Mean Score  0.883109
4     Logistic Regression Test Score  0.883996

Sorted Scores:
                               Model     Score
1          KNN Classifier Test Score  0.888699
4     Logistic Regression Test Score  0.883996
2                Logistic Regression  0.883996
3  Logistic Regression CV Mean Score  0.883109
0       KNN Classifier CV Mean Score  0.881740

## 9. Generate Submission File

Choose the model that has the best performance to generate a submission file.

In [25]:
sf.head()

      id  loan_status
0  58645          0.5
1  58646          0.5
2  58647          0.5
3  58648          0.5
4  58649          0.5

In [26]:
y_pred = KNN.predict(dt)
LR_pred = LR.predict(dt)
# Create a submission DataFrame
submission_knn = pd.DataFrame({
    'id': id,
    'loan_status': y_pred
})
# Create a submission DataFrame
submission_LR = pd.DataFrame({
    'id': id,
    'loan_status': LR_pred
})

# Save the submission DataFrame to a CSV file
submission_knn.to_csv('submission_lr.csv', index=False)
submission_LR.to_csv('submission_knn.csv', index=False)